@import "tailwindcss";

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

input[type="range"] {
  cursor: pointer;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
